<!-- registration.html -->
<form method="POST" action="/userregistration">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    
    <label for="useremail">Email:</label>
    <input type="email" id="useremail" name="useremail" required>
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    
    <label for="usertype">User Type:</label>
    <input type="number" id="usertype" name="usertype" required>
    
    <button type="submit">Register</button>
  </form>
  