<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sing Up From</title>
  <link rel="stylesheet" href="../static/styles.css" />
</head>
<body>
  <div class="login_form">
    <!-- Login form container -->
    <form action="/userregistration". method="post">
    
      <!-- Email input box -->
      <div class="input_box"></div>
      <label for="email">Username</label>
      <input type="text" name="username" placeholder="grds" required />
    </div>

      <div class="input_box">
        <label for="email">Email</label>
        <input type="email" name="useremail" placeholder="Enter email address" required />
      </div>

      <div class="input_box"></div>
        <label for="email">UserType</label>
        <input type="text" name="usertype" placeholder="grds" required />
      </div>

      <!-- Paswwrod input box -->
      <div class="input_box">
        <div class="password_title">
          <label for="password">Password</label>
          <!-- <a href="#">Forgot Password?</a> -->
        </div>

        <input type="password" name="password" placeholder="Enter your password" required />
      </div>

       <!-- Login button -->
      <button type="submit">Log In</button>

      <p class="sign_up">Don't have an account? <a href="login.html">Sign up</a></p>
      
    </form>
  </div>
</body>
</html>